/* app global css */

* {
    font-family: "Press Start 2P", system-ui;
}

h1 {
    line-height: 1.5;
}

.background-style {
    background-image: url("src/assets/bg-stars.webp");
    background-size: contain;
}

.title-shadow {
    text-shadow: 8px 8px 0 rgba(6, 116, 241, 0.8);
}

.title-shadow-2 {
    text-shadow: 4px 4px 0 rgba(6, 116, 241, 0.8);
}

.title-shadow-3 {
    text-shadow: 2px 2px 0 rgba(6, 116, 241, 0.8);
}